/* Text CSS */

.text-container {
  max-width: 90%;  /* Text can be 90% of the screen width */
  min-width: 300px;  /* But it won't shrink smaller than 300px */
  width: 100%;  /* Ensure it takes up all available space */
  margin: 0 auto;  /* Center the text container */
}


p {
  font-family: monospace;
  font-size: 2rem;
  margin-inline: auto;
  white-space: normal;

}

h1 {
  font-family: monospace;
  font-size: 4rem;
  margin-inline: auto;
  white-space: normal;
}

h2 {
  font-family: monospace;
  font-family: monospace;
  margin-inline: auto;
  white-space: nowrap;
}

/* TypeWriter Effect */
  
  .typewriter {
    box-sizing: border-box;
    font-family: system-ui;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
  }
  
  .typewriter p {
    font-family: monospace;
    font-size: 2rem;
    margin-inline: auto;
    overflow: hidden;
    /* Keeps on a single line */
    white-space: nowrap;
    /* The cursor */
    border-right: 1px solid;
    /* steps = number of characters */
    animation: typing 2s steps(22) forwards, blink 1s step-end 3;
    animation-fill-mode: forwards;
  }

  .typewriter h1 {
    font-family: monospace;
    font-size: 4rem;
    margin-inline: auto;
    overflow: hidden;
    /* Keeps on a single line */
    white-space: nowrap;
    /* The cursor */
    border-right: 1px solid;
    /* steps = number of characters */
    animation: typing 2s steps(22) forwards, blink 1s step-end infinite;
  }

  
  @keyframes typing {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
    100% {
      border-color: transparent;
    }
  }

  @media (max-width: 992px) {
    .typewriter h1 {
      white-space: normal; /* Changes to normal on screens smaller than 600px */
    }
  }

  @media (max-width: 992px) {
    .typewriter p {
      white-space: normal; /* Changes to normal on screens smaller than 600px */
    }
  }
  