:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.text-container {
  display: flex;
  flex-direction: column; /* Stacks h1 and p vertically inside the text container */
}

.text-heading {
  margin: 0; /* Remove default margin if needed */
}

.text-paragraph {
  margin: 0; /* Remove default margin if needed */
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

html, body {
  overflow-x: hidden;
}

